body {
	margin: 0px;
	padding: 0px;
	height: 690px;
	background-color: rgb(0, 163, 204);
}

section, .main-div {
	height: 100%;
}

.main-div div {
	height: 150px;
}

p {
	font-size: 100px;
	font-family: 'Dosis', sans-serif;
	color: rgb(26, 26, 26);
}

span {
	background-color: white;
	opacity: 0.1;
}
